{% extends "admin/base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}
{% block content %}
    <table class="content-table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Date Posted</th>
                <th scope="col">Min Pay</th>
                <th scope="col">Max Pay</th>
                <th scope="col">Post Content</th>
                <th scope="col">Author's Username</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        {% for post in posts %}
        <tbody>
            <tr>
                <td>{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.date_posted }}</td>
                <td>{{ post.min_pay }}</td>
                <td>{{ post.max_pay }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.author.username }}</td>
                <td><a href="{{url_for('admin_delete_post', post_id=post.id)}}"><i class="far fa-trash-alt" style="color: red;"></i></a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <script src="../../static/js/script.js"></script>
    {% endblock %}