{% extends "admin/base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}
{% block content %}
    <table class="content-table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                <a href="{{url_for('admin_delete', user_id=user.id)}}"><i class="far fa-trash-alt" style="color: red;"></i></a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endblock %}