<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-project.css') }}">
    <title>Job Board</title>

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 nav-left">
                    <a href="{{ url_for('index') }}" class="logo">
                        <img src="{{url_for('static', filename='img/logo.svg')}}" alt="logo">
                    </a>
                    <ul class="navbar">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{url_for('projects')}}">Projects</a></li>
                        <li><a href="{{url_for('add_prj')}}">Post a project</a></li>
                        <li><a href="{{url_for('profiles')}}">Profiles</a></li>
                        <li><a href="#" class="dropdown-container">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-6 nav-right">
                    <div class="div-search">
                        <form action="#" class="search-area">
                            <input type="text" placeholder="Search..." class="search-input">
                            <button type="submit" class="nav-search-button">
                            <i class="fas fa-search"></i>
                        </button>
                        </form>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="header-contact">
                        <a href="{{ url_for('logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                        <a href="{{ url_for('settings') }}" class="bell-dropdown-container dropdown-container">
                            <i class="fas fa-cog"></i>
                        </a>
                    </div>
                    <div class="header-user">
                        <a href="{{ url_for('profile') }}" class="user-img">
                            <img src="{{ image_file }}" alt="user">
                        </a>
                        <a href="{{ url_for('profile') }}" class="user-name"><span>{{ current_user.username }}</span></a>
                    </div>
                    {% else %}
                    <div class="header-contact-wthlogin">
                        <ul class="right-navbar navbar">
                            <li><a href="{{ url_for('sign_up') }}" class="register-container">Sign Up</a></li>
                            <li><a href="{{ url_for('sign_in') }}" class="login-container">Sign In</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="projects-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="page-to-page">
                            <li class="page_home"><a href="#">Home</a></li>
                            <span><i class="fas fa-long-arrow-alt-right"></i></span>
                            <li class="page_projects"><a href="#">Post a project</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-12 form-area">
                                <form action="" method="POST">
                                    <textarea name="editor1"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sidebox-desk sidebox">
                            <h4 class="sidebox-title">FAQ</h4>
                            <div class="sidebox-content">
                                <div class="sidebox-faq">
                                    <h5>Is there a fee to post a project?</h5>
                                    <p>There are pricing plans monthly and yearly for project on Workland. It is a paid service that we offer bith for the employer and the freelancer.</p>
                                </div>
                                <div class="sidebox-faq">
                                    <h5>How do I find freelancers for my project?</h5>
                                    <p>Posting a project on Workland will get your project in front of the most qualified freelancers and agencies by bids. You will then get bids for the project with the applicant’s details and reasons why they are the best
                                        fit for the projects. You can also search for freelancers and invite them to apply.</p>
                                </div>
                                <div class="sidebox-faq">
                                    <h5>How do I pay freelancers &amp; agencies?</h5>
                                    <p>You’re free to pay your freelancer and agencies. you can pay automatically for their work through Paypal, Payoneer, or (which allows you to pay via credit card, debit card).</p>
                                </div>
                            </div>
                            <a href="#" class="view-profile">View more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content">
                        <a href="{{url_for('index')}}" class="footer-logo">
                            <img src="{{url_for('static', filename='img/logo.svg')}}" alt="footer_logo">
                        </a>
                        <div class="footer-copyright">
                            <span>© 2021</span>
                            <a href="#">Redesigned by Togrul Masimli</a>
                        </div>
                        <div class="footer-nav">
                            <a href="#">Contacts</a>
                            <a href="#">FAQ</a>
                            <a href="#">Privacy Policy</a>
                        </div>
                        <button class="to-top" type="button">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>