{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> {% endblock %} {% block content %}
<main>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    {% if current_user.is_authenticated %}
                    <div class="user-info box">
                        <div class="common-info">
                            <figure>
                                <img src="{{ image_file }}" alt="user">
                            </figure>
                            <span class="user-name-span">{{ current_user.username }}</span>
                            <span class="speciality">{{ current_user.speciality }}</span>
                        </div>
                        <div class="button-field">
                            <a href="{{url_for('add_prj')}}" class="btn-project">Post a project</a>
                            <a href="{{url_for('projects')}}" class="btn-job">Find a project</a>
                        </div>
                        <a href="{{url_for('profile')}}" class="view-profile">View profile</a>
                    </div>
                    {% endif %}
                    <div class="sidebox-candidates sidebox">
                        <div class="sidebox-title">
                            <h4>Best candidates</h4>
                        </div>
                        <div class="sidebox-content">
                            {% for user in users.items %}
                            <div class="sidebox-user">
                                <a href="#" class="sidebox-user-img">
                                    <img src="{{url_for('static', filename='profile-pictures/' + user.image_file )}}" alt="user-img">
                                </a>
                                <div class="sidebox-user-title">
                                    <h5>
                                        <a href="#">{{ user.username }}</a>
                                    </h5>
                                    <p>Herbalist</p>
                                </div>
                                <div class="user-title-price">$112/hr</div>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{{ url_for('profiles') }}" class="view-profile">View more</a>
                    </div>
                </div>
                <div class="col-6">
                    {% for post in posts %}
                    <div class="post">
                        <div class="post-header">
                            <a href="{{ url_for('user_profile', username=post.author.username) }}" class="post-user-img">
                                <img src="{{url_for('static', filename='profile-pictures/' + post.author.image_file )}}" alt="user">
                            </a>
                            <div>
                                <h5>
                                    <a href="{{ url_for('user_profile', username=post.author.username) }}">{{ post.author.username }}</a>
                                </h5>
                                <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                            </div>
                            {% if post.author == current_user %}
                                <div class="hasDropdown dots">
                                    <a href="#/" class="post-dropdown-container" data-filter1="{{ post.id }}">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <ul class="post-dropdown {{ post.id }}">
                                            <li><a href="{{url_for('update_post', post_id=post.id)}}">Update</a></li>
                                            <li><a href="{{url_for('delete_post', post_id=post.id)}}">Delete</a></li>
                                        </ul>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="post-icons">
                            <div class="post-icons-left">
                                <div class="post-company">
                                    <i class="fas fa-briefcase"></i>
                                    <span>{{ post.author.speciality }}</span>
                                </div>
                            </div>
                            <div class="post-icons-right">
                                <div class="post-actions">
                                    <a href="#" class="btn-red">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <a href="{{ url_for('post', post_id=post.id) }}" class="bid-now">
                                        <span>Bid now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="post-title">
                            <h2>
                                <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                            </h2>
                        </div>
                        <div class="post-options">
                            <p>${{ post.min_pay }} - ${{ post.max_pay }}</p>
                        </div>
                        <div class="post-description">
                            <p>{{ post.content }}</p>
                        </div>
                        {% for tag in post.tag %}
                        <div class="post-tags">
                            <a href="{{ url_for('tag_detail', id=tag.id) }}">{{ tag }}</a>
                        </div>
                        {% endfor %}
                        <div class="post-status">
                            <div class="heart-comment">
                                <div class="like-comment">
                                    <a href="#">
                                        <i class="fas fa-heart"></i>
                                        <span>15</span>
                                    </a>
                                </div>
                                <div class="post-comments">
                                    <div class="like-comment">
                                        <button class="accordion" data-filter="{{ post.id }}">
                                                <i class="fas fa-comment"></i>
                                            </button>
                                        <span>{{ comment_count }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-views">
                                <i class="fas fa-eye"></i>
                                <span>214</span>
                            </div>
                        </div>
                        <div class="comment {{ post.id }}" style="display: none;">
                            <form action="#" class="comment-form">
                                <input type="text" placeholder="Type your comment...">
                                <button type="button">
                                        <i class="fab fa-telegram-plane"></i>
                                    </button>
                            </form>
                            <div class="comment-area">
                                <div class="comment-content">
                                    <div class="comment-photo-text">
                                        <a href="#" class="comment-photo">
                                            <img src="{{url_for('static', filename='img/user9.jpg')}}" alt="profile_photo">
                                        </a>
                                        <div class="user-comment">
                                            <h5>Alan Patrick</h5>
                                            <p>20 min ago</p>
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-area">
                                <div class="comment-content">
                                    <div class="comment-photo-text">
                                        <a href="#" class="comment-photo">
                                            <img src="{{url_for('static', filename='img/user2.jpg')}}" alt="profile_photo">
                                        </a>
                                        <div class="user-comment">
                                            <h5>Diego Costa</h5>
                                            <p>22 min ago</p>
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <button class="more-post" type="button">Load more</button>
                </div>
                <div class="col-3">
                    <div class="sidebox hot-projects">
                        <div class="sidebox-title">
                            <h4>Hot projects</h4>
                        </div>
                        <div class="sidebox-content">
                            {% for post in sidebox_posts.items %}
                            <div class="sidebox-job">
                                <div class="sidebox-job-title">
                                    <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                                    <span>${{ post.min_pay }} - ${{ post.max_pay }}</span>
                                </div>
                                <div class="sidebox-job-speciality">
                                    <i class="fas fa-briefcase"></i>
                                    <span>{{ post.author.speciality }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{{ url_for('projects') }}" class="view-profile">View more</a>
                    </div>
                    <div class="sidebox-candidates-right sidebox-candidates sidebox">
                        <div class="sidebox-title">
                            <h4>New candidates</h4>
                        </div>
                        <div class="sidebox-content">
                            {% for user in new_users.items %}
                            <div class="sidebox-user">
                                <a href="{{ url_for('user_profile', username=user.username) }}" class="sidebox-user-img">
                                    <img src="{{url_for('static', filename='profile-pictures/' + user.image_file )}}" alt="user-img">
                                </a>
                                <div class="sidebox-user-title">
                                    <h5>
                                        <a href="{{ url_for('user_profile', username=user.username) }}">{{ user.username }}</a>
                                    </h5>
                                    <p>Herbalist</p>
                                </div>
                                <div class="user-title-price">$112/hr</div>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{{ url_for('profiles') }}" class="view-profile">View more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}