{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"> {% endblock %} {% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% endblock %} {% block content %}
<main>
    <div class="arrow-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="page-to-page">
                        <li class="page_home"><a href="#">Home</a></li>
                        <span><i class="fas fa-long-arrow-alt-right"></i></span>
                        <li class="page_projects"><a href="#">Projects</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="user-info box">
                        <div class="common-info">
                            <figure>
                                <img src="{{ image_file }}" alt="user">
                            </figure>
                            <span class="user-name-span">{{ current_user.username }}</span>
                            <span class="speciality">{{ current_user.speciality }}</span>
                        </div>
                        <div class="profile-buttons profiles-bottom">
                            <div class="profile-icons">
                                <div>
                                    <i class="fas fa-compass"></i>
                                    <span class="location-span">{{ current_user.location }}</span>
                                </div>
                                <div class="profile-actions">
                                    <a href="#" class="green-btn">
                                        <i class="fas fa-bookmark"></i>
                                    </a>
                                    <a href="#" class="red-btn">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <a href="#" class="hire">
                                        <span>Hire</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="about-user">
                            <ul class="info-about-user">
                                <li>
                                    <span>Hourly Rate:</span>
                                    <span>${{ current_user.hourly_rate }} / hr</span>
                                </li>
                                <li>
                                    <span>Age:</span>
                                    <span>{{ current_user.age }}</span>
                                </li>
                                <li>
                                    <span>Experience:</span>
                                    <span>{{ current_user.experience }} Years</span>
                                </li>
                                <li>
                                    <span>Job Done:</span>
                                    <span>{{ current_user.job_done }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="follow">
                            <div class="follow-count count-common">
                                <span class="following">Following</span>
                                <span class="count">26</span>
                            </div>
                            <div class="follower-count count-common">
                                <span class="followers">Followers</span>
                                <span class="count">88</span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebox-social sidebox">
                        <span>Share:</span>
                        <ul>
                            <li class="facebook">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Facebook.png')}}" alt="">
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Instagram.png')}}" alt="">
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Twitter.png')}}" alt="">
                                </a>
                            </li>
                            <li class="vkontakte">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Vkontakte.png')}}" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <ul class="profile-nav">
                        <li><a href="{{ url_for('profile') }}" class="profile-filter" data-filter="feeds">Feed</a></li>
                        <li><a href="{{ url_for('info') }}" class="profile-filter" data-filter="user-information">Profile</a></li>
                        <li><a href="{{ url_for('settings') }}" class="profile-filter" data-filter="settingss">Settings</a></li>
                    </ul>
                    <div class="toggle user-information" style="display: block;">
                        <div class="profile-box">
                            <h3 class="profile-box-title">About</h3>
                            <p class="profile-box-text">
                                {{ current_user.about_user }}
                            </p>
                        </div>
                        <div class="profile-box">
                            <h3 class="profile-box-title">Education</h3>
                            <p class="profile-box-text">
                                {{ current_user.education }}
                            </p>
                        </div>
                        <div class="profile-tags-box profile-box">
                            <h3 class="profile-box-title">Skills</h3>
                            <div class="profile-tags post-tags">
                                <a href="#">HTML</a>
                                <a href="#">CSS</a>
                                <a href="#">PHP</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="profile-sidebox sidebox hot-projects">
                        <div class="sidebox-title">
                            <h4>Hot projects</h4>
                        </div>
                        <div class="sidebox-content">
                            {% for post in sidebox_posts.items %}
                                <div class="sidebox-job">
                                    <div class="sidebox-job-title">
                                        <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                                        <span>${{ post.min_pay }} - ${{ post.max_pay }}</span>
                                    </div>
                                    <div class="sidebox-job-speciality">
                                        <i class="fas fa-briefcase"></i>
                                        <span>{{ post.author.speciality }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="#" class="view-profile">View more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}