{% extends "sign-layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/sign-in.css') }}"> {% endblock %} {% block content %}
<div class="sign">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex-alg-center">
                <div class="sign-in-content">
                    <form method="POST" action="" class="sign-form">
                        {{ form.hidden_tag() }}
                        <a href="#" class="sign-logo">
                            <img src="{{ url_for('static',filename='img/logo.svg') }}" alt="logo">
                        </a>
                        <div class="sign-group">
                            <!--<input type="text" class="sign-input" placeholder="Name">  -->
                            {{ form.username(class="sign-input") }}
                        </div>
                        <div class="sign-group">
                            <!-- <input type="text" class="sign-input" placeholder="Email"> -->
                            {{ form.email(class="sign-input") }}
                        </div>
                        <div class="sign-group">
                            <!-- <input type="password" class="sign-input" placeholder="Password"> -->
                            {{ form.password(class="sign-input") }}
                        </div>
                        <div class="sign-group">
                            <!-- <input type="password" class="sign-input" placeholder="Password"> -->
                            {{ form.confirm_password(class="sign-input") }}
                        </div>
                        <!-- <button class="sign-button" type="button">Sign up</button> -->
                        {{ form.submit(class='sign-button') }}
                        <span class="sign-text">Allready have an account?
                                <a href="{{url_for('sign_in')}}">Sign in!</a>
                            </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}