{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add-project.css') }}"> {% endblock %} {% block content %}
<main>
<div class="projects-content">

<form action="#" class="form" method="POST">
    {{ form.hidden_tag() }}
  <div class="row">
        <div class="col-12 form-area">
            <h2 class="form-title">{{ legend }}</h2>
            {% if form.title.errors %}
                {{ form.title(class="form-input max is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
            {% else %}
                {{ form.title(class="form-input max") }}
            {% endif %}
            <div class="form-group">
                {{ form.submit(class='form-button') }}
            </div>
        </div>
    </div>
</form>
</div>
</div>
</main>
{% endblock %}