{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"> {% endblock %} {% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% endblock %} {% block content %}
<main>
    <div class="arrow-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="page-to-page">
                        <li class="page_home"><a href="#">Home</a></li>
                        <span><i class="fas fa-long-arrow-alt-right"></i></span>
                        <li class="page_projects"><a href="#">{{ user.username }}</a></li>
                        <span><i class="fas fa-long-arrow-alt-right"></i></span>
                        <li class="page_projects"><a href="#">Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="user-info box">
                        <div class="common-info">
                            <figure>
                                <img src="{{ image_file }}" alt="user">
                            </figure>
                            <span class="user-name-span">{{ user.username }}</span>
                            {% if user.speciality %}
                                <span class="speciality">{{ user.speciality }}</span>
                            {% endif %}
                        </div>
                        <div class="profile-buttons profiles-bottom">
                            <div class="profile-icons">
                                {% if user.location %}
                                <div>
                                    <i class="fas fa-compass"></i>
                                    <span class="location-span">{{ user.location }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="about-user">
                            <ul class="info-about-user">
                                <li>
                                    <span>Hourly Rate:</span>
                                    {% if user.hourly_rate %}
                                        <span>${{ user.hourly_rate }} / hr</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>Age:</span>
                                    {% if user.age %}
                                        <span>{{ user.age }}</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>Experience:</span>
                                    {% if user.experience %}
                                        <span>{{ user.experience }} Years</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>Job Done:</span>
                                    {% if user.job_done %}
                                        <span>{{ user.job_done }}</span>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebox-social sidebox">
                        <span>Share:</span>
                        <ul>
                            <li class="facebook">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Facebook.png')}}" alt="">
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Instagram.png')}}" alt="">
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Twitter.png')}}" alt="">
                                </a>
                            </li>
                            <li class="vkontakte">
                                <a href="#">
                                    <img src="{{url_for('static',filename='img/Vkontakte.png')}}" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <ul class="profile-nav">
                        <li><a href="{{ url_for('user_profile', username=user.username) }}" class="profile-filter" data-filter="feeds">Feed</a></li>
                        <li><a href="{{ url_for('user_info', username=user.username) }}" class="profile-filter" data-filter="user-information">About</a></li>
                    </ul>
                    <div class="toggle user-information" style="display: block;">
                        <div class="profile-box">
                            <h3 class="profile-box-title">About</h3>
                            {% if user.about_user %}
                                <p class="profile-box-text">
                                    {{ user.about_user }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="profile-box">
                            <h3 class="profile-box-title">Education</h3>
                            {% if user.education %}
                                <p class="profile-box-text">
                                    {{ user.education }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="profile-sidebox sidebox hot-projects">
                        <div class="sidebox-title">
                            <h4>Hot projects</h4>
                        </div>
                        <div class="sidebox-content">
                            {% for post in sidebox_posts.items %}
                                <div class="sidebox-job">
                                    <div class="sidebox-job-title">
                                        <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                                        <span>${{ post.min_pay }} - ${{ post.max_pay }}</span>
                                    </div>
                                    <div class="sidebox-job-speciality">
                                        <i class="fas fa-briefcase"></i>
                                        <span>{{ post.author.username }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{{ url_for('projects') }}" class="view-profile">View more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}